{% extends "base.html" %}
{% block content %}
<h2>Register</h2>
{% if messages %}
    <div class="alert alert-danger">
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    </div>
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ fm.as_p }}
    <button type="submit" class="btn btn-primary">Register</button>
</form>
<p>Already registered? <a href=  "{% url "login_teacher" %}"><button type="submit" class="btn btn-primary">Log in here</button></a><p>
{% endblock content %}
